<!-- app.component.html -->
<h1>Formulario de Contacto</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="p-field">
    <label for="pais">País:</label>
    <p-dropdown
      formControlName="pais"
      [options]="paises"
      (onChange)="actualizarMascaraTelefono()"
    ></p-dropdown>
  </div>

  <div class="p-field">
    <label for="telefono">Teléfono:</label>
    <p-inputMask
      mask="{{ mascaraTelefono }}"
      formControlName="telefono"
      id="telefono"
      type="text"
    ></p-inputMask>
  </div>

  <button type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>
